:host {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;

  main {
    display: flex;
    flex-flow: column;
    align-items: center;
    button {
      font-size: 2em;
    }
  }
}
