<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button routerLink="create">Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <caption hidden>
        Liste des articles
      </caption>
      <thead>
        <tr>
          <th class="name" scope="col">Nom</th>
          <th class="price" scope="col">Prix</th>
          <th class="qty" scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          (click)="toggle(article)"
          [class.selected]="selectedArticles.includes(article)"
          *ngFor="let article of articleService.articles$ | async"
        >
          <td class="name" [title]="article.name">
            {{ article.name | ellipsis: 13 }}
          </td>
          <td class="price">{{ article.price }}€</td>
          <td class="qty">{{ article.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
