<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus accusamus
    laudantium aspernatur distinctio quae necessitatibus blanditiis nulla nemo,
    molestias atque quisquam vero? Doloribus explicabo totam mollitia dicta
    alias aut quaerat.
  </p>
</main>
